.HomeScreen {
    width: 100vw;
    height: 100vh; /* Use full height of the screen */
    display: flex;
    flex-direction: column;
}

.HomeScreen button {
    border: none;
    background: none;
}

.HomeScreen_TopBar {
    background-color: white; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle box shadow */
    padding: 10px 20px; 
    position: fixed; /* Fix the top bar at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; /* Ensure top bar stays above other elements */
    display: flex;
    justify-content: space-between; /* Space out the logo and profile */
    align-items: center;
}

.HomeScreen_TopBar_Logo {
    display: flex;
    align-items: center;
}

#logo {
    width: 30px; 
    height: auto;
}

.HomeScreen_TopBar_Center {
    flex-grow: 2;
    text-align: center;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
}

.HomeScreen_TopBar_Avatar {
    display: flex;
    justify-content: flex-end;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.HomeScreen_BottomBar {
    position: absolute;
    bottom: 2vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
